body{
    background: white;
    color: black;
    font-family: 'Noto Sans';
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

h1{
    font-size: 4em;
}

h2{
    font-size: 3em;
}

h3{
    text-transform: uppercase;
    color: #6d6d6d;
}

h4{
    color: #bddabc;
}

p{
    color: black;
    padding-right: 20px;
}

.row {
    display: flex;
    height: 100%;
    max-width: 90%;
    padding: 20px;
}

.column {
    flex: 40%;
}

#homePageClip{
    position: relative;
    height:80%;
    width: 100%;
}

img {
    width: 560px;
    height: auto;
}

.demoVideo{
    height: 560px;
    max-width: 100%;
    width: auto\9;
}
    

.Intro{
    background-color: white;
    width: 100%;
    padding: 50px;
}

.Intro .h2{
    font-size: 3em;
    color: black;
}

.Content{
    background: #bddabc;
    width:100%;
    padding: 50px;
}
.Content .row{
    display: flex;
    height: 100%;
}

.Content .column{
    flex: 40%;
}

.seasonal{
    border-radius: 3px;
    padding-left: 50px;
}

.accordion {
    cursor: pointer;
    padding: 18px;
    border: black;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-family: "Noto Sans";
    width: 100%;
    background-color: #bddabc;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}

.accordion .active, .accordion:hover {
    transform: scale(1.05);
}

.panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.homePage{
    background-color: black;
    color: white;
}

.homePage p{
    color: white;
}

footer{
    position: fixed;
    text-align: center;
    align-content: center;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: #7E7E7E;
    color: white;
    height: 50px;
    flex-direction: column;
    margin-top: 100px;
}

footer img{
    height: 20px;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.menuButton{
    position: absolute;
    top: 20px;
    right: 45px;
}

.teamMember {
    z-index: 1;
    background-color: #bddabc;
    overflow-y: hidden;
    transition: 0.5s;
    margin: 100px;
}

.teamMember-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
}

.teamMember a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.teamMemberLink a {
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    width: 40px;
    height:40px;
}

.icon:hover, .icon:active{
    transform: scale(1.2);
}

.member{
    padding: 30px;
}

@font-face{
    font-family: amsterdamFour;
    src:url(amsterdam-four.ttf)
}
h1{
    font-family: amsterdamFour;
    padding-left: 50px;
    max-height: 60%;
}

h4{
padding-left: 20px;
}

.titleHeader{
    color: white;
}

.titlePage
{
    padding-top: 40px;
}
.icon{
    width: 40px;
    height: 40px;
}

header{
    padding-top: 40px;
}

table{
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

tbody{
    align-content: center;
}


td {
    text-align: center;
}

.BWImage {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width:540px;
    height: auto;
}

body {
    overflow-x: hidden;
}

.image {
    width:540px;
    height: auto;
}

.carousel-inner img {
    max-width: 100%;
    max-height: 100%;
}

.carousel-inner{
    max-height: 60%;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.carousel-item{
    width: 540px;
    height: auto;
    padding-bottom: 10px;
    margin:10%;
}


.profilePic{
    width:300px;
    height: auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.gameClip{
    max-width: 800px;
}

.bold{
    font-weight: bold;
}

header h4{
    padding-top: 40px;
}

.btn {
    background-color: #6d6d6d;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
}
.btn:hover {
    background-color: #6d6d6d;
    color:white;
    transform: scale(1.1);
}

a:link{
    color:white;
}

a{
    color:white;
}

.carousel-item{
    max-width:80%;
}

footer.img{
    height: 15px;
    width:15px;
}







